{% extends 'base.html.twig' %}

{% block title %}Alunos{% endblock %}

{% block body %}
    <h1>Alunos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aluno.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ aluno.nome }}</td>
            </tr>
            <tr>
                <th>Turma</th>
                <td>{{ aluno.turma }}</td>
            </tr>
            <tr>
                <th>Datanascimento</th>
                <td>{{ aluno.datanascimento ? aluno.datanascimento|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('alunos_index') }}">back to list</a>

    <a href="{{ path('alunos_edit', {'id': aluno.id}) }}">edit</a>

    {{ include('alunos/_delete_form.html.twig') }}
{% endblock %}
